/node_modules
.DS_Store
.env
/dist
/build
/coverage
/.vscode
/.idea
/.cache
/.nuxt
/.next
/.sass-cache
/.tmp
/.yarn
/.pnp
/.pnp.js
/.pnp.cjs
/.pnp.loader.mjs
/.pnp.loader.js
/.pnp.loader.cjs
/.pnp.loader.json   